@import "../../../styles/variables";

h2 {
  font-size: $font-size-heading2;
  text-align: center;
}

.underlined,
.stripes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: $section-width;
  margin: 0 auto;
}

.underlined {
  padding-bottom: 0.5rem;
  margin-top: 3rem;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $divider-height;
    background: linear-gradient(270deg, $color-pink, $color-blue);
    margin-right: 1rem;
  }
}

.stripes {
  padding-bottom: 1.5rem;

  &::before,
  &::after {
    content: "";
    flex: 1;
    height: $divider-height;
    background-image: linear-gradient(90deg, $color-pink, $color-blue);
  }

  &::after {
    background-image: linear-gradient(270deg, $color-pink, $color-blue);
  }

  h2 {
    margin: 0 1rem;
  }
}
